@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: aliceblue;
}

.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
}

.signin-text{
    font-style: normal;
    font-weight: 600 !important; 
}

.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight:400;
    line-height:1.5;
    border-color: blueviolet !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color:rgb(54, 91, 156);
    height: auto;
    border-radius: 0;
    background-color:rgb(179, 202, 245);
    background-clip: padding-box;
}




