@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body{
    font-family: 'Oswald', sans-serif;
    background-color: aliceblue;
}

.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);

}

.registrarse{
    font-style: normal;
    font-weight: 600 !important; 
}

.form-control{
    display: block;
    
}